<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      #searchForm {
        text-align: center;
        margin-bottom: 3mm;
      }

      .search-results {
        margin-left: 5mm;
      }

      .search-results a {
        display: flex;
        align-items: center;
        margin-bottom: 5mm;
        text-decoration: none;
        color: #333;
      }

      .search-results a img {
        width: 100px; /* Adjust image width as needed */
        height: auto;
        margin-right: 10px;
      }

      .bike-info {
        display: flex;
        flex-direction: column;
      }

      .bike-name {
        font-size: 18px;
        font-weight: bold;
      }

      .bike-price {
        font-size: 16px;
        color: #777;
      }
    </style>
    <title>Search Results</title>
  </head>
  <body>
    <header>
      <img
        src="/image/logo.png"
        alt="WiselyWheel"
        width="150mm"
        height="100mm"
      />
      <nav>
        <li><a href="/index">Home</a></li>
        <li><a href="/browse">Browse Bikes</a></li>
        <li><a href="/compare">Compare Bikes</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/logout">Logout</a></li>
      </nav>
    </header>

    <h1>Search Results</h1>

    <!-- Search form for searching another bike -->
    <form id="searchForm">
      <input
        type="text"
        id="bikeSearchInput"
        placeholder="Search another bike"
      />
      <button type="submit">Search</button>
    </form>

    <section class="search-results">
      <% searchResults.forEach(bike => { %>
      <a href="/bikeDetails?id=<%= bike._id %>">
        <img src="<%= bike.image %>" alt="<%= bike.variant_name %>" />
        <div class="bike-info">
          <span class="bike-name"
            ><%= bike.variant_name %> - <%= bike.brand %></span
          >
          <span class="bike-price">Rs <%= bike.price %></span>
        </div>
      </a>
      <% }); %>
    </section>

    <footer>
      <p>&copy; 2024 WiselyWheel. All rights reserved.</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchForm = document.getElementById("searchForm");

        searchForm.addEventListener("submit", function (event) {
          event.preventDefault();
          const searchTerm = document
            .getElementById("bikeSearchInput")
            .value.trim()
            .toLowerCase();
          window.location.href = `/searchResults?searchTerm=${searchTerm}`;
        });
      });
    </script>
  </body>
</html>
